body {
 font-family: 'Inter', sans-serif;
 font-weight: 400;
 font-size: 16px;
	line-height: 1.5;
 color: $mainColor;
}

.container {
 max-width: 1140px;
 padding: 0 10px;
 margin: 0 auto;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

.title {
 font-weight: 900;
 font-size: 72px;
 line-height: 1;
 text-transform: uppercase;
 @media (max-width: 991px) {
  font-size: 64px;
 }
 @media (max-width: 768px) {
  font-size: 48px;
 }
 @media (max-width: 490px) {
  font-size: 32px;
 }
}

.subtitle {
 font-weight: 900;
 font-size: 40px;
 line-height: 1;
 color: $mainColor;
 text-transform: uppercase;
}

.text {
 font-size: 24px;
 line-height: 1.3;
 color: $primaryColor;
}

.link {
 line-height: 2;
 position: relative; 
 &::before {
  @include pseudo;
  width: 0;
  height: 1px;
  left: 0;
  bottom: -5px;
  background-color: $primaryColor;
  transition: width 0.5s ease;
 }
 &:hover::before {
  width: 100%;
 }
}

.btn {
 font-weight: 600;
 display: inline-flex;
 justify-content: center;
 padding: 18px 35px;
 background-color: $btnColor;
 color: $primaryColor;
 border: 1px solid transparent;
 height: 100%;
 transition: all 0.7s;
 &:hover {
  background-color: $primaryColor;
  color: $btnColor;
  border-color: $btnColor;
 }
 @media (max-width: 420px) {
  padding: 17px 22px;
 }
 // .btn_secondary
 &_secondary {
  max-width: 185px;
  width: 100%;
  justify-content: center;
  color: $mainColor;
  background-color: $primaryColor;
  border-color: $mainColor;
  @media (max-width: 420px) {
   max-width: 140px;
   padding: 17px 22px;
  }
 }
}

//Animation
._anim-show {
 transform: translate(0px, 100%);
 opacity: 0;
 transition: all 0.8s ease 0s;
}
._anim-show._active,
._active ._anim-show {
 opacity: 1;
 transform: translate(0px, 0px);
}