//colors
$mainColor: #04234D;
$primaryColor: #FFFFFF;
$accentColor: #D53A42;
$btnColor: #008280;
$secondaryColor: #FF8484;
$bgColor: #F4E8DB;
$goldColor: #F88E08;
$reviewsFirstSlide: #F9F3EC;
$reviewsSecondSlide: #EEF0F8;
$reviewsThirdSlide:rgba(255, 132, 132, 0.1);