.outerworldly {
 // .outerworldly__main
 &__main {
  @include background(url("../../images/outerworldly/bg.jpg"));
  padding: 65px 0;
  @media (max-width: 768px) {
   padding: 32px 0;
  }
 }
 // .outerworldly__inner
 &__inner {
  max-width: 550px;
  width: 100%;
 }
 // .outerworldly__title
 &__title {
  color: $primaryColor;
  margin-bottom: 14px;
  span {
   color: $accentColor;
  }
 }
 // .outerworldly__text
 &__text {
  font-size: 20px;
  line-height: 1.6;
  color: $primaryColor;
  @media (max-width: 490px) {
   font-size: 16px;
  }
 }
}
//===================================================================================
.benefits {
 // .benefits__inner
 &__inner {
  display: flex;
  flex-direction: column;
  position: relative;
 }
 // .benefits__image
 &__image {
  img {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   object-fit: cover;
   @media (max-width: 991px) {
    position: relative;
    transform: none;
    width: 100%;
   }
  }
 }
 // .benefits__box 
 &__box {
  max-width: 410px;
  width: 100%;
  margin-left: auto;
  @media (max-width: 991px) {
   margin-left: 0;
   max-width: 100%;
  }
 }
 // .benefits__stats
 &__stats {
  padding: 120px 0 70px;
  @media (max-width: 991px) {
   padding: 60px 0 50px;
  }
 }
 // .benefits__stats-subtitle
 &__stats-subtitle {
  margin-bottom: 20px;
 }
 // .benefits__stats-text
 &__stats-text {
  font-weight: 600;
  font-style: italic;
  color: $mainColor;
  span {
   color: $secondaryColor;
  }
 }
 // .benefits__mission
 &__mission {
  padding: 80px 0 140px;
  background-color: $secondaryColor;
  @media (max-width: 991px) {
   padding: 80px 0 50px;
  }
  @media (max-width: 768px) {
   height: 600px;
   padding-top: 60%;
   margin-top: -50%;
  }
  @media (max-width: 550px) {
   height: 520px;
  }
  @media (max-width: 490px) {
   height: 450px;
  }
 }
 // .benefits__mission-subtitle
 &__mission-subtitle {
  margin-bottom: 20px;
  color: $primaryColor;
 }
 // .benefits__mission-text
 &__mission-text {
  font-weight: 600;
  span {
   color: $mainColor;
  }
 }
}